
*{
	/*border:solid yellow; */
	font-family: Times New Roman, Georgia;

}

body{
	margin-top: 20px;
	margin-bottom: 20px;
}

.teu{
	margin: auto;	/* para centrar la página */
	width: 1050px;	/* para que el ancho sea fijo */
	overflow: hidden;
	margin-top:0px;
}

.boton {
    margin: 5px 5px;
    padding: 2px;
    line-height: 170%;
    background-color: lightgray;
    border: 1px solid black;
    text-decoration: none;       
    cursor:pointer;
}
#encabezado{
	/*text-shadow:0 0 3px #FF0000;
	font-size:150%;*/
	text-align:center;
	background: /*wheat*/rgba(200,200,15,0.5);
}

img {
    padding: 5px;
}

#menu{
	width: 275px;
	font-weight:bold;
	float:left;
}

#idioma{
    font-family: sans-serif, arial, verdana;
    position: fixed;
    top: 20px;
    right: 20px;
    width:5%;
    font-size: 75%;
    font-weight:bold;
    background: rgba(200,200,15,0.5);
    border-radius: 0px 0px 20px 20px;
}
#idioma img{
    width:30px;
   
}

#pie{
	font-size:11px;
	color: rgb(100,100,100);
	width:100%;
}

#menu_left_v{
    float:left;
    width: 20%;
    z-index: 500;
}
/*
span .submenu { display:none }*/

#sendero_migas_pan{
    font-size: 50%;
}

.span_error{
    color:red;
}
.precio{
    font-size: 120%;
}

.text_justificado{
    text-align: justify;
}
