
*{
	/*border:solid yellow; */
	font-family: times new roman;

}

a:link { text-decoration:none; margin-top:0px;}

body{
	margin-top: 20px;
	margin-bottom: 20px;
}

.teu{
	margin: auto;	/* para centrar la página */
	width: 1050px;	/* para que el ancho sea fijo */
	overflow: hidden;
	margin-top:0px;
}

#encabezado{
	/*text-shadow:0 0 3px #FF0000;
	font-size:150%;*/
	text-align:center;
	background: /*wheat*/rgba(200,200,15,0.5);
}

#idioma{
    font-family: sans-serif, arial, verdana;
}
#idioma img{
    width:30px;
   
}

#sendero_migas_pan{
    float: left;
    font-family: arial;
    font-size: 80%;
}

.precio{
    color:green;
}

#view_content{
    margin-top: 40px;
    margin-left: 20%;
}

#sidebar_right{
    float:right;

}
#sidebar_right > div{
    text-align: right;
    /*width: 200px;*/
}
.form_buscar{
    width: 200px;
    padding: 5px;
    background: aquamarine;
    margin-right: 0px;
    border-radius: 10px;
}
#cuadro_login{
    float: right;
    padding: 5px;
    margin-top: 10px;
    background: gainsboro;
    border: solid 0.5px;
    border-radius: 10px;
}
.validar_form_login{
        text-align: left;
}

.boton {
    margin: 5px 5px;
    padding: 2px;
    line-height: 170%;
    background-color: lightgray;
    border: 1px solid black;
    text-decoration: none;       
    cursor:pointer;
}
.menu_adm{
    border: 1px red solid;
    margin-top: 20px;
    background: darkorange;
    width: 150px;
    list-style: none;
    text-align: center;
}


