
*{
	/*border:solid yellow; */
	font-family: times new roman;

}

a:link { text-decoration:none; margin-top:0px;}

body{
	margin-top: 20px;
	margin-bottom: 20px;
}

h2>i{
    text-shadow:1px 0 2px red /*#FF0000*/;
}

.mensaje{
    text-align: justify;
    width: 560px;
}

.destacado_r{
    text-align: right;
    color: purple;
    font-weight: bold; 
}
.destacado_l{
    text-align: left;
    color: purple;
    font-weight: bold; 
}

.teu{
	margin: auto;	/* para centrar la página */
	width: 1050px;	/* para que el ancho sea fijo */
	overflow: hidden;
	margin-top:0px;
}

#encabezado{
	/*text-shadow:0 0 3px #FF0000;
	font-size:150%;*/
	text-align:center;
	background: /*wheat*/rgba(200,200,15,0.5);
}

#central_head{
    float: right;
}

#idioma{
    font-family: sans-serif, arial, verdana;
}
#idioma img{
    width:30px;
   
}
#idioma a{
    width:30px;
   display: none;
}


#sendero_migas_pan{
    float: left;
    font-family: arial;
    font-size: 80%;
    margin-top: 10px;
    margin-left: 30px;
}

.precio{
    color:green;
}

#view_content{
    margin-top: 40px;
    margin-left: 20%;
    padding-right: 25%;
}

#sidebar_right{
    float:right;

}
#sidebar_right > div{
    text-align: right;

}
#buscar{
    width: 200px;
    padding: 5px;
    background: green;
    margin-right: 5px;
    border-radius: 10px;
}
#cuadro_login{
    width: 180px;
    /*float: right;*/
    overflow: hidden;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: gainsboro;
    border: solid 0.5px;
    border-radius: 15px;
}
.validar_form_login{
    text-align: left;
}

.boton {
    margin: 5px 5px;
    padding: 2px;
    line-height: 200%;
    background-color: wheat;
    border: 1px solid brown;
    text-decoration: none;
    border-radius: 30%;
    cursor:pointer;
}

.boton1 {
    margin: 3px 3px;
    padding: 3px 7px;
    line-height: 200%;
    background-color:  lavender;
    border: 1px solid grey;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-size: 85%;
}

.menu_adm{
    border: 1px red solid;
    margin-top: 20px;
    background: darkorange;
    width: 150px;
    list-style: none;
    text-align: center;
}

.img_index{
    height: 100px;
    float: left;
    padding-right: 50px;
}

#comentario{
    clear:both;
}

/* CARRITO */
#carrito_lateral{
    font-size: 80%;

}
.car_nxart{
    color: green;
    float: left;
}
#carrito {
    width: 180px;
    margin-left: 15px;
    background: navajowhite;
    border: 1px solid red;
}
#boton_vaciar_carrito{
    float: left;
    background: red;
}
#boton_comprar{
    background: greenyellow;
}

#btn_desplegar_carrito{
    background: plum;
}

.align_right{
    text-align: right;
}

.input_error{
    color: red;
    font-size: 85%;
}

.krasnal{
    float: left;
    margin: 3px;
    text-align: center;
}

.krasnal img{

}
.krasnal center{
    border:solid 1px;
    border-radius: 20px;
    margin-bottom: 10px;
}

#enlaces dl{
   border: 1px black solid;
   border-radius: 10px;
   background: burlywood;
   padding: 10px;
}

#enlaces dt{
   border: 1px brown solid;
   border-radius: 10px;
   background: moccasin;
   padding-left: 5px; 
   overflow: visible;
}
#enlaces dd{
   padding-top: 5px;
}
